<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="OFF" packages="io.logz.log4j2">
    <Appenders>
        <LogzioAppender name="Logzio">
            <logzioToken>tNzOjfzDiJBGqTBrkeAxrFSRrEXPIdyI</logzioToken>
            <logzioType>myAwesomeType</logzioType>
            <logzioUrl>https://listener-ca.logz.io:8071</logzioUrl>
        </LogzioAppender>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Logzio"/>
        </Root>
    </Loggers>
</Configuration>